<div class="promotion-banner border border-primary p-2" *ngIf="bannerDetails"
    [ngStyle]="{'background': 'url(assets/images/' + imgUrl}">
    <!-- Inline style (for image) should be changed to class, or something more elegant -->

    <a href="https://www.norwegian.com/">
        <p>{{ bannerDetails.arrivalAirportName }}</p>
        <p>from {{ bannerDetails.departureAirportName }}</p>

        <p>Average temperature for {{ bannerDetails.arrivalCityName }} in {{ bannerDetails.monthDisplayName }}:</p>
        <p>{{ bannerDetails.temperature }} {{ bannerDetails.isCelsius ? '°C' : '°F' }}</p>

        <p>{{ bannerDetails.price }} {{ bannerDetails.currency }}</p>
    </a>

</div>