<h1>Welcome to PerfectFly!</h1>
<p>This is example page containing promotional banner skeleton. The proper way could be making sections on this page with sidebar and put banner there.</p>
<p>One more 'nice to have' thing could be adding banner-loading component, which presreves space and show some loading line / or some sort of pre-defined animation.</p>
<p>For now, banner sketch is here 'as it is'.</p>

<app-banner [departureAirportCode]="'OSL'" [arrivalAirportCode]="'JFK'" [language]="'en-US'" [dateFrom]="'2021-06-01'" [dateTo]="'2021-06-30'"></app-banner>
